.ipynb_checkpoints
__pycache__
**/*.ipynb_checkpoints/
**/__pycache__
.DS_Store
**/.DS_Store

figures/

**/*.out
**/*.err
**/*.log
**/*.json
**/*.yaml
**/*.wandb

*.out
*.err
*.log
*.json
*.yaml
*.wandb
*.model
*.txt

**/wandb
**/models
**/wandb_sweep
**/log_ccc
**/results
**/data

**/submit.sh
submit.sh

root_dir.py